

li{
  float: left;
  padding: 30px 40px;
  color:white;
  list-style: none;
  margin: 60px;
}
.l1{
  background-color:blue;

}
.l2{
  background-color:blue;
}
.l3{
  background-color:blue;
}
.l4{
  background-color:blue;
}
.l5{
  background-color:blue;
}
